@import '~bootstrap/scss/bootstrap.scss';

.table {
  &-wrapper {
    position: relative;
  }

  &-loader {
    background-color: rgba(#fff, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 0.5rem;
    border: 3px solid currentColor;
  }

  &-spinner {
    height: 5em;
    width: 5em;
  }

  &-container {
    max-height: calc(100vh - 7rem);
    overflow-y: auto;

    thead th {
      position: sticky;
      top: 0;
      background-color: #fff;
      background-image: linear-gradient(#fff 98%, currentColor 99%);
      z-index: 1;
      border-bottom-width: 0;
    }
  }
}
